<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style_nota.css">

  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
  <title>Nota Model</title>
</head>
<body>
  <div id="desk">
    <div class="column">
      <div class="nota">
        <p>1 - Colunas devem ser criadas para acomodar as notas (agora não existem nesse HTML), a 1ª nota entraria na 1ª coluna, e a próxima na próxima coluna sempre à direita. A quantidade de colunas será calculada a partir da quantidade de colunas que cabem na resolução atual (solução JS?)</p>
      </div>
      <div class="nota">
        <p>Outra nota na mesma coluna</p>
      </div>
    </div>
    <div class="column">
      <div class="nota">
        <p>2 - Pode ser usado window.innerWidth para pegar a largura, e precisa ficar atualizando. ###################### Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sollicitudin ultricies tortor, lobortis hendrerit sapien posuere ut. Vestibulum fringilla ipsum eget arcu blandit porttitor. In arcu arcu, porttitor sed nisl at, dictum accumsan arcu. Ut sit amet ipsum non nisl eleifend aliquet a vel dui. Praesent sed magna augue. Cras vel orci erat. Nullam porta venenatis tellus ut ullamcorper. </p>
      </div>
    </div>
    <div class="column">
      <div class="nota">
        <p>3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sollicitudin ultricies tortor, lobortis hendrerit sapien posuere ut. Vestibulum fringilla ipsum eget arcu blandit porttitor. In arcu arcu, porttitor sed nisl at, dictum accumsan arcu. Ut sit amet ipsum non nisl eleifend aliquet a vel dui. Praesent sed magna augue. Cras vel orci erat. Nullam porta venenatis tellus ut ullamcorper. Ut eu orci porta, scelerisque mi eget, porttitor urna. Aenean condimentum cursus elit nec luctus. Aenean tincidunt lacus fermentum, dictum lectus eget, elementum eros. Curabitur sed eros quis est maximus posuere ac ut augue. Suspendisse eget laoreet magna, in vulputate turpis.  </p>
      </div>
    </div>
    <div class="column">
      <div class="nota big">
        <h6>4 - Fazer compras</h5>
      </div>
    </div>
    <div class="column">
      <div class="nota">
        <p>Test 5</p>
      </div>
    </div>
  </div>
  
</body>
</html>