body {
  background-color: rgb(37,	36,	37);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code { /* todo - apagar quando não for utilizado */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#desk {
  padding: 10px;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  flex-direction: row; /* ficará row, mas não para acomodar as notas, mas sim para acomodar as colunas que acomodam as notas */
  justify-content: flex-start;
  align-items: flex-start;
  height: 900px;
  border-style: solid;
  border-color:rgb(18, 18, 18)
}

.nota {
  color: aliceblue;
  background-color: rgb(18, 18, 18);
  width: 220px;
  min-height: 220px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  padding-top: 1px;
  border-style: solid;
  border-color: rgb(50, 50, 50); 
}

.nota:hover {
  border-style: solid;
  border-color: rgb(160, 160, 160);
}

.big {
  font-size: 4vmax;
  font-family: 'Roboto', sans-serif;
}